
.Header {
  background-color: #222;
  height: 160px;
  padding: 20px;
  color: white;
  text-align: center;
}


.Header-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Header-menu {
  padding: 0;
  margin:0;
  list-style: none;
}

.Header-menu li{
  display: inline-block;
  padding-right: 18px;
}

.Header-menu li a{
  color:#999;
  padding:10px;
  text-decoration:none;
  /*Transiciones*/
  -webkit-transition: 0.4s linear all;
  -moz-transition: 0.4s linear all;
  -o-transition: 0.4s linear all;
  transition: 0.4s linear all;
}

.Header-menu li a:hover {
  color:white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
